body{
    background:#191b22;
    color:white;
    font-family:Arial;
    padding:30px;
}

#vm-cards{
    display:flex;
    gap:20px;
}

.vm-card{
    width:220px;
    padding:15px;
    background:#1d2230;
    border-radius:10px;
}

button{
    margin-top:20px;
    padding:10px 20px;
    cursor:pointer;
}

#migration-result{
    margin-top:15px;
}

pre{
    font-size:18px;
}